@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&display=swap');

h4{
  font-family: "Instrument Sans", Sans Serif;
  font-size: 100px;
  align-content: center;
}

h1 {
  font-family: "Instrument Sans", Sans Serif;
  font-size: 160px;
  font-style: bold;
  align-content: center;
}

h2 {
  font-family: "Instrument Sans", Sans Serif;
  font-style: light; 
}

h3 {
  font-family: "Instrument Sans", Sans Serif;
  font-style: light; 
  font-size: 50px
}

knit-info {
background-color: rgb(238, 238, 253);
}

p {
  font-family: "Instrument Sans", Sans Serif;
  font-style: regular; 
  font-size: 15px;
  background-color: rgb(238, 238, 253);
}